openapi: 3.0.0
info:
  version: ""
  title: Wishlist API
  contact:
    {}
  description: >-
    ## This API is in Beta


    The Wishlist API allows for developers to create and edit customer wishlists. 


    To signup for access please use this form.
paths:
  /wishlists:
    post:
      description: >-
        Creates a *Wishlist*. 


        This will allow you to create a wishlist and add products in one API call.


        **Required Fields:**

        * customer_id

        * name
      summary: Create a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WishlistsCreateOrUpdateRequestData"
        required: true
        x-examples:
          application/json:
            customer_id: -84468254
            is_public: false
            name: anim cu
            products:
              - product_id: -74658167
                variant_id: 3186438
      responses:
        "201":
          $ref: "#/components/responses/wishlistObject"
        "400":
          description: Authentication Required.
          content:
            application/json:
              schema:
                {}
        default:
          $ref: "#/components/responses/500Error"
    get:
      description: Returns a list of all *Wishlists*. Optional filter parameters can be
        passed in.
      summary: Get All Wishlists
      tags:
        - Wishlists
      operationId: wishlistsget
      parameters:
        - $ref: "#/components/parameters/FilterWishlistID"
        - $ref: "#/components/parameters/FilterCustomerID"
        - $ref: "#/components/parameters/FilterLimit"
        - $ref: "#/components/parameters/FilterOffset"
      responses:
        "200":
          $ref: "#/components/responses/wishlistObjectsArray"
        "400":
          description: Authentication Required.
          content:
            application/json:
              schema:
                {}
        "500":
          $ref: "#/components/responses/500Error"
    put:
      description: >-
        Creates a *Wishlist*. 


        This will allow you to create a wishlist and add products in one API call.


        **Required Fields:**

        * customer_id

        * name
      summary: Create a Wishlist
      tags:
        - Wishlists
      operationId: WishlistsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WishlistsCreateOrUpdateRequestData"
        required: true
        x-examples:
          application/json:
            customer_id: -84468254
            is_public: false
            name: anim cu
            products:
              - product_id: -74658167
                variant_id: 3186438
      responses:
        "201":
          $ref: "#/components/responses/wishlistObject"
        "400":
          description: Authentication Required.
          content:
            application/json:
              schema:
                {}
        default:
          $ref: "#/components/responses/500Error"
tags:
  - name: Wishlists
    description: ""
security:
  - X-Auth-Client:
      []
  - X-Auth-Token:
      []
servers:
  - url: https://api.bigcommerce.com/stores/{store_hash}/v3
    variables:
      store_hash:
        default: yourStoreHash
  - url: https://api.bigcommerce.com/some_server/{store_hash}
    variables:
      store_hash:
        default: yourStoreHash
components:
  parameters:
    FilterCustomerID:
      name: customer_id
      in: query
      description: Returns all wishlists related to that customer. Uses the customer ID.
      schema:
        type: integer
    FilterLimit:
      name: limit
      in: query
      description: The number of items to return in the response.
      schema:
        type: integer
    FilterOffset:
      in: query
      name: offset
      description: Offset allows you to return a subset of data starting with the offset
        value. Offset is 0 based.
      schema:
        type: integer
    FilterWishlistID:
      in: query
      name: wishlist_id
      description: The ID of the Wishlist
      schema:
        type: integer    
  responses:
    500Error:
      description: Internal Server Error
      content:
        application/json:
          schema:
            title: Error
            type: object
            properties:
              status:
                type: integer
              title:
                type: string
              type:
                type: string
    wishlistObject:
      description: Response for a single *Wishlist*.
      content:
        application/json:
          schema:
            title: Wishlist
            type: object
            properties:
              id:
                description: Wishlist ID, provided after creating a wishlist with a POST.
                type: string
                format: uuid
              customer_id:
                type: integer
                description: The ID the customer to which the wishlist belongs.
              name:
                description: The *Wishlist* name.
                type: string
              is_public:
                description: Whether the wishlist is available to the public.
                type: boolean
              products:
                description: Array of *Wishlist* products.
                type: array
                items:
                  $ref: "#/components/schemas/Product"
              meta:
                type: object
                description: empty meta object.
          examples:
            response:
              value:
                id: 6c91d41d-04f0-377c-b8a9-443150ef8ff0
                customer_id: -79920652
                name: velit a
                is_public: false
                products:
                  - product_id: 38131451
                    variant_id: -20219285
                  - product_id: -94886694
                    variant_id: 6917022
                  - product_id: 31738696
                    variant_id: -775902
                  - product_id: -88018607
                    variant_id: 53274787
                  - product_id: -9700316
                    variant_id: -19555586
    wishlistObjectsArray:
      description: "Response for a list of *Wishlists*. "
      content:
        application/json:
          schema:
            title: Wishlist
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: "#/components/schemas/Wishlist"
              meta:
                type: object
          examples:
            response:
              value:
                data:
                  - id: urn:uuid:293fa2ee-52df-c123-690d-72ddc2135cef
                    customer_id: 57352274
                    name: dolore minim sint deserunt
                    is_public: false
                    products:
                      - product_id: 40291595
                        variant_id: -63152804
                      - product_id: -16013203
                        variant_id: -63073504
                      - product_id: -62881529
                        variant_id: -40486023
                      - product_id: 93311257
                        variant_id: 62556983
                      - product_id: 63969202
                        variant_id: -62968021
                  - id: 0c873490-32e2-98eb-6639-717e8c560743
                    customer_id: -41601982
                    name: dolore esse
                    is_public: false
                    products:
                      - product_id: -91354901
                        variant_id: 43258099
  securitySchemes:
    X-Auth-Client:
      type: apiKey
      name: X-Auth-Client
      in: header
    X-Auth-Token:
      type: apiKey
      name: X-Auth-Token
      in: header
  schemas:
    WishlistsCreateOrUpdateRequestData:
      title: Wishlists Create
      type: object
      properties:
        customer_id:
          type: integer
          description: The customer id.
        is_public:
          description: Whether the wishlist is available to the public.
          type: boolean
        name:
          description: The title of the wishlist.
          type: string
        products:
          type: array
          items:
            $ref: "#/components/schemas/Product"
      required:
        - customer_id
      description: Model to create a *Wishlist*.
    WishlistUpdateData:
      title: Wishlist Update Data
      type: object
      properties:
        customer_id:
          type: integer
          description: The customer id.
        is_public:
          description: Whether the wishlist is available to the public.
          type: boolean
        name:
          description: The title of the wishlist.
          type: string
        product:
          $ref: "#/components/schemas/Product"
      required:
        - customer_id
      description: Model to update *Wishlist* data.
    WishlistAddItems:
      title: Wishlist Add Items
      type: object
      properties:
        products:
          description: Array of products
          type: array
          items:
            $ref: "#/components/schemas/Product"
      description: Model to add items to an existing *Wishlist*.
    Wishlist:
      title: Wishlist
      type: object
      description: The *Wishlist* object.
      properties:
        id:
          description: Wishlist ID, provided after creating a wishlist with a POST.
          type: string
          format: uuid
        customer_id:
          type: integer
          description: The ID the customer to which the wishlist belongs.
        name:
          description: The *Wishlist* name.
          type: string
        is_public:
          description: Whether the wishlist is available to the public.
          type: boolean
        products:
          description: Array of *Wishlist* products.
          type: array
          items:
            $ref: "#/components/schemas/Product"
    Product:
      title: Product
      type: object
      properties:
        product_id:
          type: integer
          description: The ID of the product.
        variant_id:
          type: integer
          description: The ID of the variant.
      description: Model for a *Wishlist Product*.
    Error:
      title: Error
      type: object
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        type:
          type: string